.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #FFC5D0;
  color: #A60027;
  top: 0;
}

.nav-links a {
  color: #821D30;
}

/* LOGO */
.logo {
  font-size: 32px;
  font-weight: bold;
}

/* NAVBAR OPTIONS */
.options {
  display: flex;
  flex-basis: 25%;
  gap: 1em;
  font-size: 18px;
}

.options li a.active {
  background-color: #f5efff;
  border-radius: 5px;
}

.options li:hover {
  background-color: #f5efff;
  border-radius: 5px;
  transition: 0.3s ease;
}

.options li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.learn {
  position: relative; 

}

.dropdown {
  background-color: #FFC5D0;
  position: absolute;
  display: none;
  top: 100%;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
  float: none;
}

.dropdown li:hover {
  background-color: #f5efff;
}

.learn:hover .dropdown {
  display: block;
}

/* MOBILE LAYOUT */
@media only screen and (max-width: 768px) {
  .navbar {
    display: block;
    text-align: center;
  }

  .options {
    display: block;
    text-align: center;
    font-size: 14px;
  }

  .logo {
    font-size: 20px;
  }

  .dropdown {
    position: relative;
    display: none;
    top: 100%;
    
  }
  .dropdown li {
    display: block;
    text-align: center;
    align-items:center;
    padding: 5px 14px;
    width: auto;
  }
}