#topnav {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
  } 

.li {float: left;
    list-style-type: none;}
.li a {
    display: block;
    border-style: ridge;
    border-color: #EDE3E9;
    color: #3c005a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.li a:hover:not(.active) {background-color: #eabfff;}
  
.li a.active {background-color: #eeecff;}
  

  