/* formatting main nav menu */
nav {
  position: fixed;
  top: 0;
}
nav li {
  margin:0;
  list-style-type: none;
  float: left;
}

nav a {
  display: block;
  border-style: ridge;
  border-color: #EDE3E9;
  background-color: #f9f9f9;;
  color: #3c005a;
  text-align: center;
  padding: 15px 15px 15px 15px;;
  text-decoration: none;
}

nav li a:hover:not(.active) {background-color: #eabfff;}

nav li a.active {background-color: #eeecff;}
 
/* formatting drop down menu */
nav li a:hover > ol {
  visibility:visible;
  opacity: 1;
}

nav > ol li {
  width: 150px;
  position: relative;
  text-align: center;
}

nav ol li {
  margin-bottom: 2px;
}
nav ol>li ol {
  position: absolute;
  margin-top: 0;
  margin-left: 15%;
  display: none;
  }

  nav>ol>li:hover>ol{
  display: block;
  }